@model IEnumerable<DrinksAndSnacks.Models.Orders>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="color:goldenrod">Orders</h1>

<p>
    <a asp-action="Create">Create New Order</a>
</p>

<table class="table text-light">
    <thead>
        <tr style="color:darkgoldenrod">
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    <a asp-action="Edit" style="color:lightskyblue" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Details" style="color:lightskyblue" asp-route-id="@item.OrderId">Details</a> |
                    <a asp-action="Delete" style="color:red" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
